@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: dark light;
}

body {
  padding: 0;
  margin: 0;
  background-color: #262626;
}

.svg-hover:hover svg {
  fill: #AFC9DC;
}